# вся firmware локально
/firmware/

# blob-типы на всякий случай
*.img
*.IMG
*.upk
*.apk
*.dmg
*.tar.bz2
*.tar.gz

# приватные ключи
**/id_ed25519
**/id_ed25519_q22e

# --- прочее ---
docs/boot-log-*.txt
scripts/emmc-isp-annotate/emmc-isp-annotate
.DS_Store
.idea/
**/__pycache__/
*.pyc
