on early-init
    write /sys/fs/selinux/enforce 0

on post-fs-data
    mkdir /data/adb 0700 root root
    mkdir /data/adb/magisk 0755 root root
    mkdir /data/local/tmp 0777 root root
    start cytatv_fix_uid
    start cytasu_daemon
    start magisk_daemon

service cytatv_fix_uid /system/xbin/cytatv-fix-uid.sh
    user root
    group root
    oneshot
    disabled

service cytasu_daemon /system/xbin/cytasu-daemon
    user root
    group root

service magisk_daemon /system/xbin/magisk --daemon
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1
    write /sys/fs/selinux/enforce 0
    start cytasu_daemon
    start magisk_daemon
